<%= form_with(model: guest) do |form| %>
  <% if guest.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

      <ul>
        <% guest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-input-guest form-input-guest-edit input-edit-guest">
    <%= form.label :Nombre, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="form-input-guest form-input-guest-edit input-edit-guest">
    <%= form.label :Correo, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div class="form-input-guest form-input-guest-edit input-edit-guest">
    <%= form.label :Teléfono, style: "display: block" %>
    <%= form.text_field :telephone %>
  </div>

  <div class="form-input-guest form-input-guest-edit input-edit-guest">
    <%= form.label :Parentezco, style: "display: block" %>
    <%= form.select :kinship, ['Amigo', 'Papá', 'Mamá', 'Abuela', 'Abuelo', 'Amiga', 'Tio', 'Tia', 'Conocid@', 'Hermano', 'Hermana'], prompt: 'Selecciona el parentesco' %>
  </div>

  <div class="form-input-guest form-input-guest-edit input-edit-guest">
    <%= form.label :Mesa, style: "display: block" %>
    <%= form.number_field :table %>
  </div>

  <div class="form-input-guest input-edit-guest">
    <%= form.label :event_id %>
    <%= form.collection_select :event_id, Event.all, :id, :name %>
  </div>

  <div class="create-guest">
    <%= form.submit "Registrar"%>
  </div>
<% end %>
