<div id="<%= dom_id guest  %>" class="guest-info">
  <p>
    <strong>Nombre:</strong>
    <%= guest.name %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= guest.email %>
  </p>

  <p>
    <strong>Teléfono:</strong>
    <%= guest.telephone %>
  </p>

  <p>
    <strong>Parentezco:</strong>
    <%= guest.kinship %>
  </p>

  <p>
    <strong>Mesa:</strong>
    <%= guest.table %>
  </p>

</div>
