<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="content-form">
    <div class="left">
      <div>
        <%= form.label :Nombre_del_Evento, style: "display: block" %>
        <%= form.text_field :name %>
      </div>

      <div>
        <%= form.label :Lugar, style: "display: block" %>
        <%= form.text_field :place %>
      </div>

      <div>
        <%= form.label :Fecha, style: "display: block" %>
        <%= form.date_field :date %>
      </div>

    </div>
    <div class="right">
      <div>
        <%= form.label :Descripcion, style: "display: block" %>
        <%= form.text_area :description %>
      </div>
      <div class="container-time">
        <div class= "time-input">
          <%= form.label :Hora_de_Inicio, style: "display: block" %>
          <%= form.time_field :start_time %>
        </div>

        <div class= "time-input">
          <%= form.label :Hora_Final, style: "display: block" %>
          <%= form.time_field :end_time %>
        </div>
      </div>

    
    </div>
  </div>
  <div class="create-event">
      <%= form.submit "Crear Evento" %>
  </div>
<% end %>
