<div class="container-index">
  <div id="events">
    <h1>TUS EVENTOS</h1>
    <%= render 'partials/bar_search_event' %>
    <div class="container-events-all">
      <% @events.each do |event| %> 
        <a href="<%= event_path(event) %>">
          <div class="event-card">
            <h2><%= event.name %></h2> <!-- Muestra el nombre del evento -->   
            <p>Organizado por: <%= "#{event.user.name} #{event.user.last_name}".camelcase %></p><!-- Muestra el organizador (nombre del usuario) -->   
            <p>Fecha: <%= event.date %></p><!-- Muestra la fecha del evento -->    
            <div class="place-guest">
              <p>Lugar: <%= event.place %></p><!-- Muestra el lugar del evento -->  
              <p>Número de invitados: <%= event.guests.count %></p><!-- Muestra el número de invitados -->
            </div> 
          </div> 
        </a>
      <% end %>
    </div>
  </div>
  <%= link_to "Crear Evento", new_event_path %>
  <%= link_to "Nuevo invitado", new_guest_path, remote: true, id: "new-guest-link" %>
</div>


  